<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Detalhes do Usuario</title>
</head>
<body>

	<div layout:fragment="body">
		<div class="container-fluid">
			<h1 class="mt-4">Usuários</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Detalhes</li>
			</ol>

			<div class="row">



				<div class="mb-2 col-12 col-sm-7">

					<div class="mb-2 card">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">Nome</div>
								<div class="col-sm-9" th:text="${pessoa.nome}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">Email</div>
								<div class="col-sm-9" th:text="${pessoa.email}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">CPF</div>
								<div class="col-sm-9" th:text="${pessoa.cpf}"></div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">ID</div>
								<div class="col-sm-9" th:text="${pessoa.id}">45
									anos</div>
							</div>


						</div>
					</div>

					<div class="mb-2">


						<a th:href="@{/pessoa/edit/{id} (id=${pessoa.id})}"
							class="btn btn-primary col-12">Editar</i></a>

					</div>

				</div>



			</div>


		</div>
	</div>

</body>
</html>