<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Editar Usuario</title>
</head>
<body>

	<div layout:fragment="body">
		<div class="container-fluid">
			<h1 class="mt-4">Usuário</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Editar</li>
			</ol>

			<div class="row">



				<div class="mb-2 col-12 col-sm-7">


					<form th:action="@{/pessoa/update}" method="POST"
						th:object="${pessoa}">

						<div class="mb-2 card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">Nome</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${pessoa.nome}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Telefone</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${pessoa.celular}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Senha</div>
									<div class="col-sm-9">
										<input type="password" class="form-control"
											th:field="${pessoa.senha}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Logradouro</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${pessoa.celular}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Bairro</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${pessoa.bairro}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Cidade</div>
									<div class="col-sm-9">
										<select
											class="form-control" id="cidade"
											th:field="${pessoa.cidadeId}">
											<option type="number" value=4>Santa Rita do Sapucaí</option>
											<option type="number" value=1>Pouso Alegre</option>
											<option type="number" value=3>Poços de Caldas</option>
											<option type="number" value=2>Itajuba</option>
										</select> <br>
									</div>
								</div>

							</div>
						</div>

						<div class="mb-2">
							<button class="btn btn-primary col-12" type="submit">Atualizar</button>

							<input th:field="${pessoa.id}" type="hidden">
						</div>

					</form>




				</div>



			</div>


		</div>
	</div>

</body>
</html>