<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Listar Usuarios</title>
</head>
<body>
	
	<div layout:fragment="body">
		<div class="container-fluid">
			<h1 class="mt-4">Usuários</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Listar</li>
			</ol>

			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table mr-1"></i>Usuários cadastrados
				</div>

				<div class="card-body">
					<div class="table-responsive">

						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Id</th>
									<th>Email</th>
									<th>Celular</th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Id</th>
									<th>Email</th>
									<th>Celular</th>
									<th></th>
								</tr>
							</tfoot>
							<tbody>
									<tr th:each="usuario : ${listaDeUsuarios}">
									<td th:text="${usuario.id}">1</td>
									<td th:text="${usuario.email}">Tiburssinho
										Tiburrsius</td>
									<td th:text="${usuario.celular}">tiburssinho@gmail.com</td>

								<tr th:each="pessoa : ${listaDePessoas}">
									<td th:text="${pessoa.id}">1</td>
									<td th:text="${pessoa.nome}">Tiburssinho
										Tiburrsius</td>
									<td th:text="${pessoa.email}">tiburssinho@gmail.com</td><td>
<!-- 										<div class="row"> -->
<!-- 											<div class="col-4"> -->

<!-- 												<a th:href="@{/user/detail/{id} (id=${usuario.id})}" -->
<!-- 													class="btn btn-primary"><i class="fas fa-address-card"></i></a> -->

<!-- 											</div> -->

<!-- 											<div class="col-4"> -->
												
<!-- 												<a th:href="@{/user/edit/{id} (id=${usuario.id})}" -->
<!-- 													class="btn btn-warning"><i class="fas fa-lock"></i></a> -->

<!-- 											</div> -->
<!-- 											<div class="col-4"> -->
												
<!-- 												<a th:href="@{/user/delete/{id} (id=${usuario.id})}" -->
<!-- 													class="btn btn-danger"><i class="fas fa-user-alt-slash"></i></a> -->

<!-- 											</div> -->
<!-- 										</div> -->
									</td>
								</tr>


							</tbody>
						</table>

					</div>
				</div>
			</div>




		</div>
	</div>

</body>
</html>