<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Bloco 7 | Login</title>
</head>


<body>


	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">

		<div class="container">
			<div class="row mb-5" align="center">
				<div class="col-6 col-md-1 mt-5 mb-5"></div>
				<div class="mt-5 mb-3">
					<div style="width: 40%; height:90%; border-radius: 20px; background-color: #FFFAFA; padding: 40px;"
						class="col-md-5 mt-5">

						<div class="col-md-3"></div>
						<form th:action="@{/login}" method="POST">
						
						
							<div class="row">
								<div align="center">
									<h1 style="margin-top: 10px">Faça seu login.</h1>
								</div>


								<div class="mt-5 mb-3">
									<div align="left">
										<label for="email">E-mail:</label>
									</div>
									<input id="username" type="email" required class="form-control"
										placeholder="Digite seu e-mail" name="username"/>
								</div>

								<div class="mb-2">
									<div align="left">
										<label for="senha">Senha:</label>
									</div>
									<input id="password" type="password" required class="form-control"
										placeholder="Digite sua senha"  name="password"/>

								</div>
								
								</div>
								<div><span style="color:red" th:text="${errorMessage}"></span></div>
								<center><button class="btn btn-b mt-4" type="submit">Entrar</button></center>
								
								<div class="mt-3">
								<a th:href="@{/pessoa/register}"><span>Não possúi conta? Clique aqui e registre agora.</span></a>
								</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</body>

</html>