<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Bloco 7 | Login</title>



	<script type="text/javascript">


		function validaSenhaAtual() {

			var novaSenha = document.getElementById('confirmaSenhaAtual').value;
			var confirmaNovaSenha = document.getElementById('senhaAtual').value;
			
			document.getElementById("resultadoSenhaAtual").style.visibility = "hidden";

			if (novaSenha != confirmaNovaSenha) {
				document.getElementById("resultadoSenhaAtual").innerHTML = "*Senha atual incorreta!";
				document.getElementById("resultadoSenhaAtual").style.color = "#FF6347";
				document.getElementById("resultadoSenhaAtual").style.visibility = "visible";
				event.preventDefault();
			}
		}


		function validaNovaSenha() {

			var novaSenha = document.getElementById('novaSenha').value;
			var confirmaNovaSenha = document.getElementById('confirmaNovaSenha').value;
			
			document.getElementById("resultadoNovaSenha").style.visibility = "hidden";

			if (novaSenha != confirmaNovaSenha) {
				document.getElementById("resultadoNovaSenha").innerHTML = "*As senhas são diferentes!";
				document.getElementById("resultadoNovaSenha").style.color = "#FF6347";
				document.getElementById("resultadoNovaSenha").style.visibility = "visible";
				event.preventDefault();
			}
		}




	</script>

</head>

<body>


	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">

		<div class="container">
			<div class="row mb-5" align="center">
				<div class="col-6 col-md-1 mt-5 mb-5"></div>
				<div class="mt-5 mb-3">
					<div style="width: 40%; height:90%; border-radius: 20px; background-color: #FFFAFA; padding: 40px;"
						class="col-md-5 mt-5">

						<div class="col-md-3"></div>
						<form th:action="@{/pessoa/update-password}" method="POST" th:object="${pessoa}">


							<div class="row">
								<div align="center">
									<h1 style="margin-top: 10px">Alterar Senha.</h1>
								</div>


								<div class="mt-5 mb-3">
									<div align="left">
										<label for="password">Confirme sua senha atual:</label>
									</div>
									<input id="confirmaSenhaAtual" type="password" placeholder="Digite sua senha atual."  class="form-control">
									<input id="senhaAtual" type="hidden" th:value="${pessoa.senha}" class="form-control">
									<span id="resultadoSenhaAtual" style="visibility: hidden;"></span>
								</div>

								<div class="mb-2">
									<div align="left">
										<label for="senha">Nova senha:</label>
									</div>
									<input id="novaSenha" type="password"  class="form-control"
										placeholder="Digite a nova senha." th:field="${pessoa.senha}" />

								</div>
								<div class="mb-2">
									<div align="left">
										<label for="senha">Confirme a nova senha:</label>
									</div>
									<input id="confirmaNovaSenha" type="password"  class="form-control"
										placeholder="Confirme a nova senha." />
										<span id="resultadoNovaSenha" style="visibility: hidden;"></span>
								</div>

							</div>
							

							<div align="center">
								<button class="btn btn-b mt-4" type="submit" onclick="validaSenhaAtual(); validaNovaSenha();">Alterar</button>
								<input th:field="${pessoa.id}" type="hidden">						
								
								<button th:href="@{/pessoa/edit/{id}(id=${pessoa.id})}"
									class="btn btn-b mt-4">Cancelar</button>
							</div>



						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</body>

</html>