<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Política de Pivacidade</title>
</head>
<body>
	<div layout:fragment="body">

		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="title-single-box">
							<h1 class="title-single">Política de Pivacidade</h1>
							<span>Bloco7</span>

						</div>
					</div>
					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb"
							class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item">Política de Pivacidade</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>

		<section>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="col-md-2"></div>
						<div class="col-md-9">

							<hr>
							

							<p>
								A sua privacidade é importante para nós. É política do Bloco7
								respeitar a sua privacidade em relação a qualquer informação sua
								que possamos coletar no site <a th:href="@{/}">Bloco7</a>, e
								outros sites que possuímos e operamos.
							</p>
							<p>Solicitamos informações pessoais apenas quando realmente
								precisamos delas para lhe fornecer um serviço. Fazemo-lo por
								meios justos e legais, com o seu conhecimento e consentimento.
								Também informamos por que estamos coletando e como será usado.</p>
							<p>Apenas retemos as informações coletadas pelo tempo
								necessário para fornecer o serviço solicitado. Quando
								armazenamos dados, protegemos dentro de meios comercialmente
								aceitáveis ​​para evitar perdas e roubos, bem como acesso,
								divulgação, cópia, uso ou modificação não autorizados.</p>
							<p>Não compartilhamos informações de identificação pessoal
								publicamente ou com terceiros, exceto quando exigido por lei.</p>
							<p>
								O nosso site pode ter links para sites externos que não são
								operados por nós. Esteja ciente de que não temos controle sobre
								o conteúdo e práticas desses sites e não podemos aceitar
								responsabilidade por suas respectivas políticas de privacidade
							</p>
							<p>Você é livre para recusar a nossa solicitação de
								informações pessoais, entendendo que talvez não possamos
								fornecer alguns dos serviços desejados.</p>
							<p>O uso continuado de nosso site será considerado como
								aceitação de nossas práticas em torno de privacidade e
								informações pessoais. Se você tiver alguma dúvida sobre como
								lidamos com dados do usuário e informações pessoais, entre em
								contacto connosco.</p>
								<p>Para o serviço prestado no site Bloco7, o numero de celular informado
								no cadastro de usuário será divulgado publicamente em todo anuncio vinculado  
								a esse usuário. Esteja ciente.
								</p>

							<section class="intro-single2">
								<div class="row">
									<div class="col-md-12 col-lg-8">
										<div class="title-single-box">
											<h1 class="title-single">Política de Cookies Bloco7</h1>
											<span>Bloco7</span>
										</div>
									</div>
								</div>


							</section>
							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">O que são cookies?</h3>
										</div>
									</div>
								</div>
							</div>
							<p>Como é prática comum em quase todos os sites
								profissionais, este site usa cookies, que são pequenos arquivos
								baixados no seu computador, para melhorar sua experiência. Esta
								página descreve quais informações eles coletam, como as usamos e
								por que às vezes precisamos armazenar esses cookies. Também
								compartilharemos como você pode impedir que esses cookies sejam
								armazenados, no entanto, isso pode fazer o downgrade ou
								'quebrar' certos elementos da funcionalidade do site.</p>

							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Como usamos os cookies?</h3>
										</div>
									</div>
								</div>
							</div>
							<p>Utilizamos cookies por vários motivos, detalhados abaixo.
								Infelizmente, na maioria dos casos, não existem opções padrão do
								setor para desativar os cookies sem desativar completamente a
								funcionalidade e os recursos que eles adicionam a este site. É
								recomendável que você deixe todos os cookies se não tiver
								certeza se precisa ou não deles, caso sejam usados ​​para
								fornecer um serviço que você usa.</p>

							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Desativar cookies</h3>
										</div>
									</div>
								</div>
							</div>
							<p>Você pode impedir a configuração de cookies ajustando as
								configurações do seu navegador (consulte a Ajuda do navegador
								para saber como fazer isso). Esteja ciente de que a desativação
								de cookies afetará a funcionalidade deste e de muitos outros
								sites que você visita. A desativação de cookies geralmente
								resultará na desativação de determinadas funcionalidades e
								recursos deste site. Portanto, é recomendável que você não
								desative os cookies.</p>

							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Cookies que definimos</h3>
										</div>
									</div>
								</div>
							</div>
							<ul>
								<li>Cookies relacionados à conta<br> <br> Se você
									criar uma conta connosco, usaremos cookies para o gerenciamento
									do processo de inscrição e administração geral. Esses cookies
									geralmente serão excluídos quando você sair do sistema, porém,
									em alguns casos, eles poderão permanecer posteriormente para
									lembrar as preferências do seu site ao sair.<br> <br>
								</li>
								<li>Cookies relacionados ao login<br> <br>
									Utilizamos cookies quando você está logado, para que possamos
									lembrar dessa ação. Isso evita que você precise fazer login
									sempre que visitar uma nova página. Esses cookies são
									normalmente removidos ou limpos quando você efetua logout para
									garantir que você possa acessar apenas a recursos e áreas
									restritas ao efetuar login.<br> <br>
								</li>

								<li>Cookies relacionados a pesquisas<br> <br>
									Periodicamente, oferecemos pesquisas e questionários para
									fornecer informações interessantes, ferramentas úteis ou para
									entender nossa base de usuários com mais precisão. Essas
									pesquisas podem usar cookies para lembrar quem já participou
									numa pesquisa ou para fornecer resultados precisos após a
									alteração das páginas.<br> <br>
								</li>
								<li>Cookies relacionados a formulários<br> <br>
									Quando você envia dados por meio de um formulário como os
									encontrados nas páginas de contacto ou nos formulários de
									comentários, os cookies podem ser configurados para lembrar os
									detalhes do usuário para correspondência futura.<br> <br>
								</li>
								<li>Cookies de preferências do site<br> <br> Para
									proporcionar uma ótima experiência neste site, fornecemos a
									funcionalidade para definir suas preferências de como esse site
									é executado quando você o usa. Para lembrar suas preferências,
									precisamos definir cookies para que essas informações possam
									ser chamadas sempre que você interagir com uma página for
									afetada por suas preferências.<br>
								</li>
							</ul>

							


							<section class="intro-single2">
								<div class="row">
									<div class="col-md-12 col-lg-8">
										<div class="title-single-box">
											<h1 class="title-single">Compromisso do Usuário</h1>
											<span>Bloco7</span>
										</div>
									</div>
								</div>
							</section>

							<p>O usuário se compromete a fazer uso adequado dos conteúdos
								e da informação que o Bloco7 oferece no site e com caráter
								enunciativo, mas não limitativo:</p>
							<ul>
								<li>A) Não se envolver em atividades que sejam ilegais ou
									contrárias à boa fé a à ordem pública;</li>
								<li>B) Não difundir propaganda ou conteúdo de natureza
									racista, xenofóbica, jogos de hoje ou azar, qualquer
									tipo de pornografia ilegal, de apologia ao terrorismo ou contra
									os direitos humanos;
								</li>
								<li>C) Não causar danos aos sistemas físicos (hardwares) e
									lógicos (softwares) do Bloco7, de seus fornecedores ou
									terceiros, para introduzir ou disseminar vírus informáticos ou
									quaisquer outros sistemas de hardware ou software que sejam
									capazes de causar danos anteriormente mencionados.</li>
							</ul>
							
							<section class="intro-single2">
								<div class="row">
									<div class="col-md-12 col-lg-8">
										<div class="title-single-box">
											<h1 class="title-single">Mais informações</h1>
											<span>Bloco7</span>
										</div>
									</div>
								</div>
							</section>

							<p>Esperemos que esteja esclarecido e, como mencionado
								anteriormente, se houver algo que você não tem certeza se
								precisa ou não, geralmente é mais seguro deixar os cookies
								ativados, caso interaja com um dos recursos que você usa em
								nosso site.</p>
							<p>
								Esta política é efetiva a partir de <strong>Semtembro</strong>/<strong>2021</strong>.	
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<br> <br> <br> <br> <br> <br> <br>



			</div>

		</section>

	</div>
</body>