<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Sobre</title>
</head>
<body>
	<div layout:fragment="body">
	
		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="title-single-box">
							<h1 class="title-single">Sobre</h1>
							<span>A empresa</span>

						</div>
					</div>
					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb"
							class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item">Sobre</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			
			<div class="container">
				<div class="row">
					<div class="col-12"> 
						<div class="col-md-2"></div>
						<div class="col-md-9">
							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Informações sobre a empresa.</h3>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<p style="font-size:25px">
								Somos uma start up com sede de inovação!<br>
								Desde 2020 estamos trabalhando para trazer soluções que auxiliarão no dia a dia de todos.<br>	
							</p>
						
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-12"> 
						<div class="col-md-2"></div>
						<div class="col-md-9">
							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">O Bloco7.</h3>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<p style="font-size:25px">
								O Bloco7 é um sistema que utiliza do modelo de negócio C2C!<br>
								Pessoas encontram pessoas que estão em busca do mesmo objetivo. Trouxemos facilidade para venda
								e locação de imóveis.<br>
								<b>Deixe-nos te ajudar a concretizar os seus negócios</b>	
							</p>
						
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<br>
				<br>
				<br>
				
				<div class="row">
					<div class="col-12"> 
						<div class="col-md-2"></div>
						<div class="col-md-9">
							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Onde estamos.</h3>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<center>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.465192686688!2d-45.70459844892748!3d-22.260361520649322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cba2fdceb70c69%3A0x37f8236a5d849bfa!2sFAI%20Centro%20de%20Ensino%20Superior%20em%20Gest%C3%A3o%2C%20Tecnologia%20e%20Educa%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1634383992280!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</center>
						
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
						
			</div>
		
		</section>
		
	</div>
</body>
