<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-panel}">

<head>
<meta charset="UTF-8">
<title th:text="${'Bloco7 | Anúncio '  + anuncio.id}">Bloco | Anúncios</title>
</head>

<body>

	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-8">
					<h1 class="mt-4">ANUNCIO - <span th:text="${anuncio.id}"></span></h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Detalhes do Anúncio</li>
					</ol>
				</div>
				<div class="col-md-3">
					<a class="btn btn-warning" th:href="@{/anuncios/edit/{id} (id=${anuncio.id})}">Editar</a>
				</div>
				
			</div>
			

			<div class="row">
			
				<div class="col-md-1"></div>
				<div class="mb-2 col-md-10 col-sm-7">
						<div class="mb-2 card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">Descricao</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${anuncio.descricao}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">quartos</div>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											th:field="${anuncio.quartos}">
									</div>
								</div>
								<hr>

								<div class="row">
									<div class="col-sm-3">Banheiro</div>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											th:field="${anuncio.banheiros}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Vaga Garagem</div>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											th:field="${anuncio.vaga_garagem}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Tipo propriedade</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${anuncio.tipo_propriedade}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Alugar ou Vender</div>
									<select class="form-control" id="status"
										th:field="${anuncio.status}">
										<option value="Alugar">Alugar</option>
										<option value="Vender">Vender</option>


									</select> <br>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Area</div>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											th:field="${anuncio.area}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Preço</div>
									<div class="col-sm-9">
										<input type="number" class="form-control"
											th:field="${anuncio.preco}">
									</div>
								</div>




							</div>
						</div>

						<div class="mb-2">
							<input th:field="${anuncio.id}" type="hidden">
						</div>

					




				</div>
				<div class="col-md-1"></div>


			</div>


		</div>
	</div>




</body>

</html>