<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Bloco7 | Anúncios</title>
</head>

<body>

	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">

		<!-- ======= Introdução ======= -->
		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="title-single-box">
							<h1 class="title-single">Anúncios</h1>
							<span class="color-text-a">Nossa lista de anúncios
								imperdíveis</span>
						</div>
					</div>
					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb"
							class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									Anúncios</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- Fim introdução -->

		<!-- ======= Grid de anúncios ======= -->
		<section class="property-grid grid">
			<div class="container">
				<div class="row">
					
<!-- 					Linha de cards de anuncio -->
					<div class="row">
					
						<div class="col-md-4" th:each="anuncio : ${listaDeAnuncio}">
						<div class="card-box-a card-shadow">
							<div class="img-box-a">
								<img th:src="@{{caminhoFoto} (caminhoFoto=${anuncio.foto1})}" alt=""
									class="img-a">
							</div>
							<div class="card-overlay">
								<div class="card-overlay-a-content">
									<div class="card-header-a">
										<h2 class="card-title-a">
											<a th:href="@{/anuncios/detalhes/{id} (id=${anuncio.id})}"> <span th:text="${anuncio.nomeCidade}"> Cidade aqui</span> <br> <span th:text="${anuncio.bairro}"> Bairro aqui</span> </a>
										</h2>
									</div>
									<div class="card-body-a">
										<div class="price-box d-flex">
											<span class="price-a" th:text="${anuncio.status + ' |  R$ '+ anuncio.preco}" >rent | $ 12.000</span>
										</div>
										<a th:href="@{/anuncios/detalhes/{id} (id=${anuncio.id})}" class="link-a">Detalhes<span class="bi bi-chevron-right"></span>
										</a>
									</div>
									<div class="card-footer-a">
										<ul class="card-info d-flex justify-content-around">
											<li>
												<h4 class="card-info-title">Area</h4> <span th:text="${anuncio.area}">340m <sup>2</sup>
											</span>
											</li>
											<li>
												<h4 class="card-info-title">Quartos</h4> <span th:text="${anuncio.quartos}">2</span>
											</li>
											<li>
												<h4 class="card-info-title">Banheiros</h4> <span th:text="${anuncio.banheiros}">4</span>
											</li>
											<li>
												<h4 class="card-info-title">Garagem</h4> <span th:text="${anuncio.vaga_garagem}">1</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
						
					
					</div>
					</div>
					
					
					
<!-- 				<div class="row"> -->
<!-- 					<div class="col-sm-12"> -->
<!-- 						<nav class="pagination-a"> -->
<!-- 							<ul class="pagination justify-content-end"> -->
<!-- 								<li class="page-item disabled"><a class="page-link" -->
<!-- 									href="#" tabindex="-1"> <span class="bi bi-chevron-left"></span> -->
<!-- 								</a></li> -->
<!-- 								<li class="page-item"><a class="page-link" href="#">1</a></li> -->
<!-- 								<li class="page-item active"><a class="page-link" href="#">2</a> -->
<!-- 								</li> -->
<!-- 								<li class="page-item"><a class="page-link" href="#">3</a></li> -->
<!-- 								<li class="page-item next"><a class="page-link" href="#"> -->
<!-- 										<span class="bi bi-chevron-right"></span> -->
<!-- 								</a></li> -->
<!-- 							</ul> -->
<!-- 						</nav> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</section>
		<!-- Fim grid de anuncios-->



<!-- 		<!-- ======= Introdução anuncios temproada ======= --> 
<!-- 		<section class="second-intro-single "> -->
<!-- 			<div class="container"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-md-12 col-lg-8"> -->
<!-- 						<div class="title-single-box"> -->
<!-- 							<h1 class="title-single">Aluguel por temporada</h1> -->
<!-- 							<span class="color-text-a">Conheça incriveis lugares para passar suas ferias ou para relaxar</span> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</section> -->
<!-- 		<!-- Fim introdução --> 

<!-- 		<!-- ======= Grid de anúncios temporada ======= --> 
<!-- 		<section class="property-grid grid"> -->
<!-- 			<div class="container"> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-md-4"> -->
<!-- 						<div class="card-box-a card-shadow"> -->
<!-- 							<div class="img-box-a"> -->
<!-- 								<img src="/resources/img/property-1.jpg" alt="" -->
<!-- 									class="img-a img-fluid"> -->
<!-- 							</div> -->
<!-- 							<div class="card-overlay"> -->
<!-- 								<div class="card-overlay-a-content"> -->
<!-- 									<div class="card-header-a"> -->
<!-- 										<h2 class="card-title-a"> -->
<!-- 											<a href="#">204 Mount <br /> Olive Road Two -->
<!-- 											</a> -->
<!-- 										</h2> -->
<!-- 									</div> -->
<!-- 									<div class="card-body-a"> -->
<!-- 										<div class="price-box d-flex"> -->
<!-- 											<span class="price-a">rent | $ 12.000</span> -->
<!-- 										</div> -->
<!-- 										<a href="property-single.html" class="link-a">Click here -->
<!-- 											to view <span class="bi bi-chevron-right"></span> -->
<!-- 										</a> -->
<!-- 									</div> -->
<!-- 									<div class="card-footer-a"> -->
<!-- 										<ul class="card-info d-flex justify-content-around"> -->
<!-- 											<li> -->
<!-- 												<h4 class="card-info-title">Area</h4> <span>340m <sup>2</sup> -->
<!-- 											</span> -->
<!-- 											</li> -->
<!-- 											<li> -->
<!-- 												<h4 class="card-info-title">Beds</h4> <span>2</span> -->
<!-- 											</li> -->
<!-- 											<li> -->
<!-- 												<h4 class="card-info-title">Baths</h4> <span>4</span> -->
<!-- 											</li> -->
<!-- 											<li> -->
<!-- 												<h4 class="card-info-title">Garages</h4> <span>1</span> -->
<!-- 											</li> -->
<!-- 										</ul> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-sm-12"> -->
<!-- 						<nav class="pagination-a"> -->
<!-- 							<ul class="pagination justify-content-end"> -->
<!-- 								<li class="page-item disabled"><a class="page-link" -->
<!-- 									href="#" tabindex="-1"> <span class="bi bi-chevron-left"></span> -->
<!-- 								</a></li> -->
<!-- 								<li class="page-item"><a class="page-link" href="#">1</a></li> -->
<!-- 								<li class="page-item active"><a class="page-link" href="#">2</a> -->
<!-- 								</li> -->
<!-- 								<li class="page-item"><a class="page-link" href="#">3</a></li> -->
<!-- 								<li class="page-item next"><a class="page-link" href="#"> -->
<!-- 										<span class="bi bi-chevron-right"></span> -->
<!-- 								</a></li> -->
<!-- 							</ul> -->
<!-- 						</nav> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</section> -->
<!-- 		<!-- Fim grid de anuncios--> 







	</div>




</body>

</html>