<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title th:text="${'Bloco7 | Anúncio '  + anuncio.id}">Bloco | Anúncios</title>
</head>

<body>

	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">


		<!-- ======= Intro Single ======= -->
		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="title-single-box">
							<h1 class="title-single" th:text="${anuncio.status}">Aluguel</h1>
							<span class="color-text-a" th:text="${anuncio.bairro + ' | ' +  cidade.nome}">Pouso Alegre - MG</span>
						</div>
					</div>
					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb"
							class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item"><a th:href="@{/anuncios/listar}">Anúncio</a>
								</li>
								<li class="breadcrumb-item active"
									th:text="'Anúncio ' + ${anuncio.id}" aria-current="page">
									Imóvel 304</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- Fim Intro Single-->

		<!-- ======= Anuncio Single Carroussel ======= -->
		<section class="property-single nav-arrow-b">
			<div class="container">
				<div class="row justify-content-center">
					<div>
						<div id="property-single-carousel" class="swiper">
							<div class="swiper-wrapper">
								<div
									class="carousel-item-b swiper-slide d-flex justify-content-center">
									<img src="/resources/img/post-8.jpg" alt="">
								</div>
								<div
									class="carousel-item-b swiper-slide  d-flex justify-content-center">
									<img src="/resources/img/post-6.jpg" alt="">
								</div>
								<div
									class="carousel-item-b swiper-slide  d-flex justify-content-center">
									<img src="/resources/img/post-5.jpg" alt="">
								</div>
							</div>
						</div>
						<div
							class="property-single-carousel-pagination carousel-pagination"></div>
					</div>
				</div>



				<div class="row">
					<div class="col-sm-12 mt-5">
						<div class="row justify-content-between">
						
						<!-- Valor -->
							<div class="col-md-5 col-lg-4">
								<div class="property-price d-flex justify-content-center foo">
									<div class="card-header-c d-flex">
										<div class="card-box-ico">
											<span class="bi bi-cash"> R$</span>
										</div>
										<div class="card-title-c align-self-center">
											<h5 class="title-c" th:text="${anuncio.preco + ',00' }">15.000</h5>
										</div>
									</div>
								</div>
								<div class="property-summary">
									<div class="row">
										<div class="col-sm-12">
											<div class="title-box-d section-t4">
												<h3 class="title-d">Detalhes</h3>
											</div>
										</div>
									</div>


								</div>
							</div>
							
							<!-- descrição -->
							<div class="col-md-7 col-lg-7 section-md-t3">
								<div class="row">
									<div class="col-sm-12">
										<div class="title-box-d">
											<h3 class="title-d">Descrição</h3>
										</div>
									</div>
								</div>
								<div class="property-description">
									<p class="description color-text-a" th:text="${anuncio.descricao}">Texto de descrição aqui!.</p>
								</div>

							</div>

							<!-- Detalhes -->
							<div>
								<div class="row">
									<div class="col-2"></div>
									<div class="summary-list col-4">
										<ul class="list">
											<li class="d-flex justify-content-between"><strong>ID
													do imóvel:</strong> <span th:text="${anuncio.id}">1134</span></li>
											<li class="d-flex justify-content-between"><strong>Localização:</strong>
												<span th:text="${anuncio.endereco}">Chicago, IL
													606543</span></li>
											<li class="d-flex justify-content-between"><strong>Tipo:</strong>
												<span th:text="${anuncio.tipo_propriedade}">House</span></li>
											<li class="d-flex justify-content-between"><strong>Status:</strong>
												<span th:text="${anuncio.status}">Sale</span></li>
										</ul>
									</div>


									<div class="summary-list col-4">
										<ul class="list">
											<li class="d-flex justify-content-between"><strong>Área:</strong>
												<span th:text="${anuncio.area + 'm²'}">340m</span></li>
											<li class="d-flex justify-content-between"><strong>Quartos:</strong>
												<span th:text="${anuncio.quartos}">4</span></li>
											<li class="d-flex justify-content-between"><strong>Banheiros:</strong>
												<span th:text="${anuncio.banheiros}">2</span></li>
											<li class="d-flex justify-content-between"><strong>Garagem:</strong>
												<span th:text="${anuncio.vaga_garagem}">1</span></li>
										</ul>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 offset-md-1">
						<ul class="nav nav-pills-a nav-pills mb-3 section-t3"
							id="pills-tab" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="pills-video-tab" data-bs-toggle="pill" href="#pills-video"
								role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-video"
								role="tabpanel" aria-labelledby="pills-video-tab">
								<iframe src="https://player.vimeo.com/video/73221098"
									width="100%" height="460" frameborder="0" webkitallowfullscreen
									mozallowfullscreen allowfullscreen></iframe>
							</div>

						</div>
					</div>
					
					
					
					<!-- Contato -->
					<div class="col-md-12">
						<div class="row section-t3">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Entre em contato</h3>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-md-6 col-lg-4">
								<div class="property-agent">
									<h4 class="title-agent" th:text="${pessoa.nome}">Anabella Geller</h4>
									<ul class="list-unstyled">
										<li class="d-flex justify-content-between"><strong>Telefone/Celular:</strong>
											<span class="color-text-a" th:text="${pessoa.celular}">777 287 378 737</span></li>
										<li class="d-flex justify-content-between"><strong>Email:</strong>
											<span class="color-text-a" th:text="${pessoa.email}">annabella@example.com</span></li>
									</ul>
									<div class="socials-a">
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"> <i
													class="bi bi-facebook" aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a href="#"> <i
													class="bi bi-twitter" aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a href="#"> <i
													class="bi bi-instagram" aria-hidden="true"></i>
											</a></li>
											<li class="list-inline-item"><a href="#"> <i
													class="bi bi-linkedin" aria-hidden="true"></i>
											</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-8">
								<div class="property-contact">
									<form class="form-a">
										<div class="row">
											<div class="col-md-12 mb-1">
												<div class="form-group">
													<input type="text"
														class="form-control form-control-lg form-control-a"
														id="inputName" placeholder="Nome *" required>
												</div>
											</div>
											<div class="col-md-12 mb-1">
												<div class="form-group">
													<input type="email"
														class="form-control form-control-lg form-control-a"
														id="inputEmail1" placeholder="Email *" required>
												</div>
											</div>
											<div class="col-md-12 mb-1">
												<div class="form-group">
													<textarea id="textMessage" class="form-control"
														placeholder="Menssagem *" name="message" cols="45"
														rows="8" required></textarea>
												</div>
											</div>
											<div class="col-md-12 mt-3">
												<button type="submit" class="btn btn-a">Enviar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Property Single-->





	</div>




</body>

</html>