<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Anúncios</title>
</head>

<body>

	<!-- 	Injeção do fragmento body -->
	<div layout:fragment="body">
		

			<!-- ======= Intro Single ======= -->
			<section class="intro-single">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="title-single-box">
								<h1 class="title-single">Aluguel</h1>
								<span class="color-text-a">Pouso Alegre - MG</span>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<nav aria-label="breadcrumb"
								class="breadcrumb-box d-flex justify-content-lg-end">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a>
									</li>
									<li class="breadcrumb-item"><a href="property-grid.html">Anúncio</a>
									</li>
									<li class="breadcrumb-item active"  th:text="${anuncio.id}" aria-current="page" >
										Imóvel 304</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- End Intro Single-->

			<!-- ======= Property Single ======= -->
			<section class="property-single nav-arrow-b">
				<div class="container">
					<div class="row justify-content-center">
						<div>
							<div id="property-single-carousel" class="swiper">
								<div class="swiper-wrapper">
									<div class="carousel-item-b swiper-slide d-flex justify-content-center">
										<img src="/resources/img/post-5.jpg" alt="">
									</div>
									<div class="carousel-item-b swiper-slide  d-flex justify-content-center">
										<img src="/resources/img/post-6.jpg" alt="">
									</div>
									<div class="carousel-item-b swiper-slide  d-flex justify-content-center">
										<img src="/resources/img/post-8.jpg" alt="">
									</div>
								</div>
							</div>
							<div
								class="property-single-carousel-pagination carousel-pagination"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">

							<div class="row justify-content-between">
								<div class="col-md-5 col-lg-4">
									<div class="property-price d-flex justify-content-center foo">
										<div class="card-header-c d-flex">
											<div class="card-box-ico">
												<span class="bi bi-cash">R$</span>
											</div>
											<div class="card-title-c align-self-center">
												<h5 class="title-c">15.000</h5>
											</div>
										</div>
									</div>
									<div class="property-summary">
										<div class="row">
											<div class="col-sm-12">
												<div class="title-box-d section-t4">
													<h3 class="title-d">Detalhes</h3>
												</div>
											</div>
										</div>
										<div class="summary-list">
											<ul class="list">
												<li class="d-flex justify-content-between"><strong>ID do imóvel:</strong> <span  th:text="${anuncio.id}">1134</span></li>
												<li class="d-flex justify-content-between" ><strong>Localização:</strong>
													<span  th:text="${anuncio.endereco}">Chicago, IL 606543</span></li>
												<li class="d-flex justify-content-between"><strong>Tipo:</strong> <span>House</span></li>
												<li class="d-flex justify-content-between"><strong>Status:</strong>
													<span>Sale</span></li>
												<li class="d-flex justify-content-between"><strong>Área:</strong>
													<span>340m <sup>2</sup>
												</span></li>
												<li class="d-flex justify-content-between"><strong>Quartos:</strong>
													<span>4</span></li>
												<li class="d-flex justify-content-between"><strong>Banheiros:</strong>
													<span>2</span></li>
												<li class="d-flex justify-content-between"><strong>Garagem:</strong>
													<span>1</span></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-7 col-lg-7 section-md-t3">
									<div class="row">
										<div class="col-sm-12">
											<div class="title-box-d">
												<h3 class="title-d">Descrição</h3>
											</div>
										</div>
									</div>
									<div class="property-description">
										<p class="description color-text-a" >Vestibulum ante ipsum
											primis in faucibus orci luctus et ultrices posuere cubilia
											Curae; Donec velit neque, auctor sit amet aliquam vel,
											ullamcorper sit amet ligula. Cras ultricies ligula sed magna
											dictum porta. Curabitur aliquet quam id dui posuere blandit.
											Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
											quam id dui posuere blandit.</p>
									</div>
									
								</div>
							</div>
						</div>
						<div class="col-md-10 offset-md-1">
							<ul class="nav nav-pills-a nav-pills mb-3 section-t3"
								id="pills-tab" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									id="pills-video-tab" data-bs-toggle="pill" href="#pills-video"
									role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-video"
									role="tabpanel" aria-labelledby="pills-video-tab">
									<iframe src="https://player.vimeo.com/video/73221098"
										width="100%" height="460" frameborder="0"
										webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
								</div>
								
							</div>
						</div>
						<div class="col-md-12">
							<div class="row section-t3">
								<div class="col-sm-12">
									<div class="title-box-d">
										<h3 class="title-d">Entre em contato</h3>
									</div>
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-6 col-lg-4">
									<div class="property-agent">
										<h4 class="title-agent">Anabella Geller</h4>
										<p class="color-text-a">Nulla porttitor accumsan
											tincidunt. Vestibulum ac diam sit amet quam vehicula
											elementum sed sit amet dui. Quisque velit nisi, pretium ut
											lacinia in, elementum id enim.</p>
										<ul class="list-unstyled">
											<li class="d-flex justify-content-between"><strong>Phone:</strong>
												<span class="color-text-a">(222) 4568932</span></li>
											<li class="d-flex justify-content-between"><strong>Mobile:</strong>
												<span class="color-text-a">777 287 378 737</span></li>
											<li class="d-flex justify-content-between"><strong>Email:</strong>
												<span class="color-text-a">annabella@example.com</span></li>
											<li class="d-flex justify-content-between"><strong>Skype:</strong>
												<span class="color-text-a">Annabela.ge</span></li>
										</ul>
										<div class="socials-a">
											<ul class="list-inline">
												<li class="list-inline-item"><a href="#"> <i
														class="bi bi-facebook" aria-hidden="true"></i>
												</a></li>
												<li class="list-inline-item"><a href="#"> <i
														class="bi bi-twitter" aria-hidden="true"></i>
												</a></li>
												<li class="list-inline-item"><a href="#"> <i
														class="bi bi-instagram" aria-hidden="true"></i>
												</a></li>
												<li class="list-inline-item"><a href="#"> <i
														class="bi bi-linkedin" aria-hidden="true"></i>
												</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-lg-8">
									<div class="property-contact">
										<form class="form-a">
											<div class="row">
												<div class="col-md-12 mb-1">
													<div class="form-group">
														<input type="text"
															class="form-control form-control-lg form-control-a"
															id="inputName" placeholder="Nome *" required>
													</div>
												</div>
												<div class="col-md-12 mb-1">
													<div class="form-group">
														<input type="email"
															class="form-control form-control-lg form-control-a"
															id="inputEmail1" placeholder="Email *" required>
													</div>
												</div>
												<div class="col-md-12 mb-1">
													<div class="form-group">
														<textarea id="textMessage" class="form-control"
															placeholder="Menssagem *" name="message" cols="45" rows="8"
															required></textarea>
													</div>
												</div>
												<div class="col-md-12 mt-3">
													<button type="submit" class="btn btn-a">Enviar</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Property Single-->

		



	</div>




</body>

</html>